@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600;700&display=swap');

html {
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}

body {
    background-color: #121212;
}